@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

::-webkit-scrollbar {
    width: 19px; 
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 11px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    scrollbar-width: thin;           
    scrollbar-color: #888686 #f7f3f3;   
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    
}
#logo{height: 80px; position: sticky; transition: ease-in-out 200ms;
    scale: 1.3;
}
#logo:hover{
height: 83px;}

.main{
    width: 100vw;
    height: 100vh;
    position: relative;
     

}
header{
    display: flex;
    height: 12%;
    background-color: #222227;
    position:relative;
    align-items: center;
    justify-content:space-around;
}


.Hamburger{
    display: flex;
    display: none;
    background-color: #494952;
    position: relative;
    align-items: center;
    justify-content: center;
    row-gap: 7%;
   height: 30vh;
   
}
.whiteTxt{
    color: white;
}
.Hamburger ul{
    display: grid;

}
.Hamburger ul li{
    list-style: none;
   
    
}
.Hamburger ul li a{
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 70px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color:rgb(255, 251, 251);
    letter-spacing: 2px;
    &:hover{
        color: grey;
    }
}
header img{
    height: 30px;
    position: relative;
    margin-left: 50px;
    
    
}
header ul{
    display: flex;
}

header ul li{
    list-style: none;
    
    
}
header ul li a{
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 70px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color:grey;
    letter-spacing: 2px; font-weight: 700;

}
header i{
    color: whitesmoke;
    font-size: 30px;
    margin-right: 25px;
    padding: 25px;
}
header #cart{
    color: whitesmoke;
    font-size: 30px;
    margin-right: -210px;
    padding: 25px;
    transform: translate(-29px,0);
}

.page{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    

}
.box{
    display:flex;
    width: 50%;
}

#left{
    background-color: #222227;
}
#left h1{
    position: relative;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 130px;
    line-height: 120px;
    top: 20%;
    left: 10%;
}

#smallbox{
    display: inline-block;
    background-color:#414247;
    position: absolute;
    top: 70%;
    left: 0%;
    height: 16%;
}
#smallbox h4{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 90px;
}
#smallbox p{
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 90px;
}
 #explore{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    background-color: red;
    height: 40px;
    width: 300px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#explore h4{
    position: relative;
    left: 240px;
    font-size: 18px;
    line-height: 36px;
}
#left #price{
    display: inline-block;
    border: 1px solid #414247 ;
    position: absolute;
    bottom:0%;
    right: 51%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 5px;
    padding: 12px 13px;
    color: white;

}


#right{
    background-color:#414247;
}
#smallbox1{
    display: inline-block;
    background-color:#222227;
    position: absolute;
    top: 70%;
    right: 0%;
    height: 16%;
}
#smallbox1 h4{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: 50px;
}
#smallbox1 p{
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: 50px;
}

.page #shoe{
    z-index: 100;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    top: 8%;
    left: 20%;
    
}

#right button{
    display: inline-block;
    position: absolute;
    bottom: 0%;
    left: 51%;
    margin:5px;
    font-size: 20px;
    line-height: 46px;
    padding: 12px 13px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: red;
    border: transparent;
}

#right h1{
    position: absolute;
    top: 2%;
    margin-left: 5%;
    color: #22222776;
    font-size: 200px;
    line-height: 240px;
}

/* hower section */
#shoe img{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content:center ;
transition: ease-in-out 400ms;

}
#shoe img:hover{
    scale:1.05;
    cursor: pointer;
}

/* navigation hover */

header ul li a:hover,header ul li a.active{
    cursor: pointer;
    color: white;
}
#right button:hover{
    transition: ease-in 200ms;
    scale: 105%;
    cursor: pointer;
}

header i:hover,header #cart:hover{
    transition: ease-in-out 300ms;
    scale: 1.2;
    color: red;
}

.sec{
    width: 100%;
    height: 269%;
    display: flex;
    background-color: #414247;
    overflow-x: hidden;
    
}

.sec #para{
    position:absolute;
    margin-top: 50px;
    left: 33%;  
}

.sec #para h1{
    font-size: 3.5rem;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    color: #222227c0;
    padding: 20px 30px;
    text-align: center;
}
.sec #para p{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #222227c0;
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100vw;
    justify-content: center;

}
.sec #products{
    position: absolute;
    margin-top: 22%;
    font-size: 1.45rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
   

}
.recommended-product img {
    width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
}
.sec #products #recommendedproduct::-webkit-scrollbar{
    display: none;
}
.rating {
    font-size: 1.2rem; 
    color: gold; 
    margin-bottom: 10px; 
    cursor: pointer;
    padding-left: 3%;
}

.sec #products #recommendedproduct{
    display: grid;

    position: relative;
    width: 230px;
    height: 335px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(16, 16, 16, 0.782) 0px 2px 3px 0px, rgba(134, 139, 141, 0.886) 0px 1px 6px 0px;
    background-color:#F6F6F6;
    flex-wrap: wrap;
}
/* animation */

.sec #products #recommendedproduct:hover{
    transition: ease-in-out 100ms;
    scale: 1.04;

}
.sec #products #recommendedproduct #image{
    display: inline-block;
    position: relative;
    width: 205px;
    height: 255px;
    margin: 10px;
    margin-bottom: 100px;
    
}
.sec #products #recommendedproduct #image img{
    max-width: 100%;
  max-height: 100%;
  display: block; 
  margin: auto; 
  border-radius: 30px;
}
/* animation */
.sec #products #recommendedproduct #image img:hover{
    transition: ease-in-out 400ms;
    scale: 1.06;
    cursor: pointer;
}
.sec button{
    position: absolute;
    bottom: 5px;
    left: 37px;
    padding: 15px 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    border: transparent;
    border-radius: 15px;
    background-color: #222227;
    color:white;
}

.sec button:hover{
    transition: ease-in-out 400ms;
    scale: 1.02;
    color: #ffe593;
    cursor: pointer;

}
.sec #products #recommendedproduct h5{
    z-index: 100;
    position: absolute;
    bottom: 70px;
    width: 80%;
    padding:3px 6px;
    margin-left: 20px;
    background-color:rgba(255, 0, 0, 0.766);
    border-radius: 50px;
    text-align: center;
   
}
.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #ffe593;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn1 {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn1:focus {
    outline: 2px dotted #55d7dc;
  }


.footer {
    background: #1f1f1f;
    padding: 40px 0;
    position: relative;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    color: #ff8c00;
}

.footer-section h3:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #ff8c00;
    bottom: -5px;
    left: 0;
    transition: 0.4s;
}

.footer-section:hover h3:after {
    width: 100px;
}

.footer-section p {
    color: #ccc;
    line-height: 1.8;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ff8c00;
}



.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background: #181818;
    border-top: 1px solid #333;
    font-size: 14px;
    color: #888;
}


.footer-section:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.footer-bottom {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    *{
        font-size: small;
    }
    .page {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
img {
    width: 59%;
}
ul {
    transform: translate(-95px, 0px);
}
header #cart {
    transform: translate(-90px, 0);
}
i.ri-menu-3-fill {
    transform: translate(14px, 0px);
}
#right h1 {
    
   
    margin-left: 3%;
    
    font-size: 184px;
    
}
.cards {
    gap: 5px;
    
   
}
#recommendedproduct {
    display: grid;
    position: relative;
    width: 216px;
    height: 331px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(16, 16, 16, 0.782) 0px 2px 3px 0px, rgba(134, 139, 141, 0.886) 0px 1px 6px 0px;
    background-color: #F6F6F6;
    flex-wrap: wrap;
}
    #left h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    header ul {
        display: none; /* Hide menu on smaller screens */
    }

    .Hamburger {
        display: flex; /* Show Hamburger menu */
    }

    header i, header #cart {
        font-size: 1.25rem;
    }

    .sec {
        padding: 20px;
    }

    .footer .container {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex-basis: 100%;
        text-align: center;
    }
}


@media only screen and (max-width: 1501px){

    #shoe img {
        scale: 0.9;
    }
    
}
@media only screen and (max-width: 1424px){

    #shoe img {
        scale: 0.8;
    }
    
}
@media only screen and (max-width: 1376px){

    #shoe img {
        scale: 0.7;
    }
    
}

@media (max-width: 768px) {
    section.sec {
            height: 492rem;
    }
    .cards {
        transform: translate(-27px, 65px);
}
h2 {
    transform: translate(81px, 53px);
    font-size: medium;
}
    }